body {
    font-family: Helvetica;
}

// #root {
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.app {
    margin-top: 20px;
    margin-bottom: 20px;
}

.clicked {
  color: red;
}

#root > div {
  display: flex;
  height: 100vh;
}

.left-scene {
  flex: 0 0 60%;
  position: sticky;
  display: flex;
  flex-direction: column;

  .form-search {
    padding: 60px 60px 60px 120px;
    border: none;
    font-size: 2.6em;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }

  &:before {
    content: '\F002';
    position: absolute;
    top: 35px;
    left: 60px;
    font-family: FontAwesome;
    font-size: 2.6em;
    opacity: 0.4;
  }

  .selected-gif {
    text-align: center;
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 232px);
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.22'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    .gif {
      max-width: 80%;
      max-height: 80%;
      margin: auto;
    }
  }
}

.right-scene {
  flex: 0 0 40%;
  background-color: #ecf0f1;
  overflow: scroll;

  .gif-list {
    column-count: 2;
    column-gap: 5px;
    padding: 5px;

    .gif {
      width: 100%;
      margin: 5px;
      cursor: pointer;
    }
  }
}
